.banner__inner {
  background-image: url(../img/502.svg);
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: start;
  padding: 120px 200px;
  color: #fff;
}
.banner__inner .title {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
}
.banner__inner em {
  color: #5e2bb9;
}
.banner__inner .desc {
  color: #000;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 70px;
}
.banner__inner button {
  background-color: #5e2bb9;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 2px;
}

@media (max-width: 960px) {
  .banner__inner {
    padding: 100px 0;
  }
}

@media (max-width: 600px) {
  .banner__inner {
    padding: 80px 0;
  }
  .banner__inner .title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .banner__inner .desc {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
