/* imageType */
.image__wrap {
  background-color: #f6f8fd;
}
.image__wrap em {
  color: #5e2bb9;
}
.image__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.image {
  width: 24%;
  height: 300px;
  color: 000;
  box-sizing: border-box;
}
.img__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.image__title {
  font-size: 22px;
  margin-bottom: 2px;
}
.image__desc {
  color: rgb(161, 161, 161);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.5;
}
.image__price {
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
}
@media (max-width: 960px) {
  .image {
    width: 32.3%;
  }
  .image:nth-child(4n) {
    display: none;
  }
  .image__title {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .image {
    width: 49%;
  }

  .image:nth-child(3n) {
    display: none;
  }
  .image__title {
    font-size: 20px;
  }
}
