.imgText__wrap {
  background-color: #f6f8fd;
}
.imgText__wrap em {
  color: #5e2bb9;
}

.imgText__inner {
  display: flex;
  justify-content: space-between;
}
.imgText__inner .imgText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 32%;
  box-sizing: border-box;
  margin-right: 1%;
  height: 450px;
  padding: 30px 40px;
  border-radius: 20px;
}
.imgText__inner .imgText:last-child {
  margin-right: 0;
}
.imgText__body p {
  line-height: 1.6;
  height: 200px;
  margin-bottom: 50px;
  color: rgb(138, 138, 138);
}

.imgText__info {
  display: flex;
  margin-top: 10px;
  height: 80px;
}
.info__column2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.info__row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
.info__row1 h5 {
  font-size: 20px;
  margin-right: 10px;
}
.info__row1 p {
  font-size: 14px;
  color: rgb(183, 183, 183);
}

.imgText__btn {
  background-color: #5e2bb9;
  color: #fff;
  width: 100%;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 20px;
}

@media (max-width: 960px) {
  .imgText__wrap {
    overflow-x: scroll;
  }
  .imgText__wrap .imgText {
    width: 100%;
  }
  .imgText__body {
  }
  .imgText__body p {
    width: 100%;
    overflow: hidden;
    word-break: break-all;
  }
}
@media (max-width: 600px) {
}
